<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.runtips.ricardo.runtipsmx">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TermsConditions"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.PopupsTheme" />
        <activity
            android:name=".activities.Presentacion01Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.StartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContactActivity"
            android:parentActivityName=".activities.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.YesActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartActivity" />
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CameraHeartRateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.RunActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.YesActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartActivity" />
        </activity>
        <activity
            android:name=".activities.SpeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.YesActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartActivity" />
        </activity>

        <service android:name=".activities.LocationService">
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </service>

        <activity
            android:name=".activities.PlansActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.YesActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartActivity" />
        </activity>
        <activity
            android:name=".activities.StrengthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.YesActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.StartActivity" />
        </activity>
        <activity android:name=".activities.VideoActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>